<launch>
 <node name="jps" pkg="jps" type="jps" /> 
 <node name="tf_broadcaster_jps" pkg="jps" type="tf_broadcaster_jps" />
 <node name="map_server" pkg="map_server" type="map_server" args="$(find jps)/maps/map.yaml" />
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/.rviz/path_planner.rviz" />
</launch>
